# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define jobs
jobs:
  say-hello:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
      - persist_to_workspace:
          root: .
          paths:
            - .

  sonarqube:
    working_directory: ~/build
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: ~/workspace
      - run:
          name: "List files in workspace"
          command: find .
      - run:
          name: "Run SonarQube Scanner"
          command: |
            SONAR_BRANCH="${CIRCLE_BRANCH:-master}"
            echo "Sonar branch value is: $SONAR_BRANCH"
            echo "Sonar org value is: $SONAR_ORG"
            sonar-scanner \
              -Dsonar.projectKey="$SONAR_PROJECT_KEY" \
              -Dsonar.organization="$SONAR_ORG" \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.exclusions="**/android/**,**/ios/**" \
              -Dsonar.login="$SONAR_TOKEN" \
              -Dsonar.branch.name="$SONAR_BRANCH" \
              -Dsonar.sources="."

# Define workflows
workflows:
  say-hello-workflow:
    jobs:
      - say-hello
      - sonarqube:
          requires:
            - say-hello
